In [ ]:
Compute the nearest neighbor by hand

In [7]:
data = {'a':[56,2] , 'b':[3,20],'c':[18,1], 'd':[20,14],'e':[30,30],'f':[35,35]}
df=pd.DataFrame(data).T
df

    0   1
a  56   2
b   3  20
c  18   1
d  20  14
e  30  30
f  35  35

In [10]:
df.columns = ['Lon' , 'Lat']
df

   Lon  Lat
a   56    2
b    3   20
c   18    1
d   20   14
e   30   30
f   35   35

In [22]:
df['eucl1'] = np.sqrt((df['Lon']- 10)**2 + (df['Lat'] - 10)**2 )
df['eucL2']=np.sqrt((df['Lon']- 40)**2 + (df['Lat'] - 40)**2 )

In [36]:
a = pd.Series(['yes', 'no','yes' , 'no' , 'yes', 'yes'])

In [37]:
df['r'] = a

In [38]:
df

   Lon  Lat      eucl1      eucL2    r
a   56    2  46.690470  41.231056  NaN
b    3   20  12.206556  42.059482  NaN
c   18    1  12.041595  44.777226  NaN
d   20   14  10.770330  32.802439  NaN
e   30   30  28.284271  14.142136  NaN
f   35   35  35.355339   7.071068  NaN

In [1]:
import numpy as np

In [2]:
np.__version__

'1.14.0'

In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.22.0'

In [5]:
import sklearn as sk

In [6]:
sk.__version__

'0.19.1'

In [7]:
import statsmodels as sm

In [8]:
sm.__version__

'0.8.0'

In [9]:
import nltk as nl

In [10]:
nl.__version__

'3.2.5'

In [11]:
import gmaps

In [12]:
gmaps.__version__

'0.8.0'

In [13]:
import matplotlib

In [14]:
matplotlib.__version__

'2.1.2'