In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/mnt/disque1/Apply/Pycon2018/Pycon_2018_Materials/datasets/gapminder.tsv', delimiter='\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.loc[10]

country      Afghanistan
continent           Asia
year                2002
lifeExp           42.129
pop             25268405
gdpPercap        726.734
Name: 10, dtype: object

In [5]:
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [6]:
df.loc[[1,10,50],['continent', 'gdpPercap']]

   continent    gdpPercap
1       Asia   820.853030
10      Asia   726.734055
50  Americas  7133.166023

In [7]:
df.iloc[[1,10,50],[1,5]]

   continent    gdpPercap
1       Asia   820.853030
10      Asia   726.734055
50  Americas  7133.166023

In [8]:
lem = df['lifeExp'].mean()

In [9]:
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [10]:
df[(df['lifeExp']>lem) & (df['continent']=='Americas')&(df['country'].str.startswith('B'))]

     country continent  year  lifeExp        pop    gdpPercap
140  Bolivia  Americas  1992   59.957    6893451  2961.699694
141  Bolivia  Americas  1997   62.050    7693188  3326.143191
142  Bolivia  Americas  2002   63.883    8445134  3413.262690
143  Bolivia  Americas  2007   65.554    9119152  3822.137084
172   Brazil  Americas  1972   59.504  100840058  4985.711467
173   Brazil  Americas  1977   61.489  114313951  6660.118654
174   Brazil  Americas  1982   63.336  128962939  7030.835878
175   Brazil  Americas  1987   65.205  142938076  7807.095818
176   Brazil  Americas  1992   67.057  155975974  6950.283021
177   Brazil  Americas  1997   69.388  168546719  7957.980824
178   Brazil  Americas  2002   71.006  179914212  8131.212843
179   Brazil  Americas  2007   72.390  190010647  9065.800825